<p id="notice"><%= notice %></p>

<p>
  <strong>Tname:</strong>
  <%= @thing.tname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<p>
  <strong>Persion:</strong>
  <%= @thing.persion_id %>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
