#show.html.erb
<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>student_id</th>
      <th>course_id</th>
      <th>percentage</th>
      <th>lettergrade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enroll.each do |enroll| %>
      <tr>
        <td><%= enroll.student_id %></td>
        <td><%= enroll.course_id %></td>
        <td><%= enroll.percentage %></td>
        <td><%= enroll.lettergrade %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
